@inject IClientStorage clientStorage
@inject NavigationManager navigationManager
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
                    <h4><b> @context.User.Identity.Name </b></h4>
                    <button class="btn btn-danger" @onclick="LogOut">LogOut</button>
                </div>
            </Authorized>
        </AuthorizeView>

@code {
    private async void LogOut()
    {
        await clientStorage.RemoveItemAsync("Token");
        navigationManager.NavigateTo("/",true);
    }
}
