@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <LoginMenu></LoginMenu>



        <article class="">
            @Body
        </article>
    </main>
</div>

