@page "/chat/{user_fullName}"

@page "/chat"
@*@page "/chat/{ToUserId}"*@
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject HttpClient _httpClient

<div style="border:0px;height:90vh;">
    <div class="panel panel-primary" style="height: 100%;">
        <div class="panel-heading top-bar">
            <div class="col-md-8 col-xs-8">
                <h3 class="panel-title">

                </h3>
            </div>
        </div>
        <div id="divMessageContainerBase" class="panel-body msg_container_base">

        </div>
        <!--CHAT USER BOX-->
        <div class="panel-footer">
            <div class="input-group" id="myForm">
                <input id="txtMessageInput" @bind="MessageText" type="text" class="form-control input-sm chat_input"
                       placeholder="Write your message here...">
                <button class="btn btn-primary" @onclick="Send">Send</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string ToUserId { get; set; }
    public string FromUserId { get; set; }
    public string MessageText { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }
    private void Send()
    {
        
    }

    [Parameter]
    public string user_fullName { get; set; }
}
