@page "/contacts"
@using ViewModel;
@inject IContactsViewModel contactViewModel
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorage;

<PageTitle>Contact</PageTitle>

<div class="col-12">
    @if (contactViewModel.Contacts != null && contactViewModel.Contacts.Count() > 0)
    {
        @foreach (var contact in contactViewModel.Contacts)
        {
            <a href="/chat/@contact.Name" class="list-group-item list-group-item-action flex-column align-items-start">@contact.Name</a>
        }

    }
    <a class="btn" href="https://localhost:44305/api/account/google-login?returnURL=https://localhost:7206/GoogleAuth">googleAUth </a> 

</div>

@code{
    protected override async Task OnInitializedAsync() => await contactViewModel.GetContacts();

}
