@page "/GoogleAuth"

@using ClientStorage;
@using FrogChatService.WebApiUtils;
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager navigationManager
@inject IClientStorage clientStorage

<h1>Please wait...</h1>
<h3> Access Token : @AccessToken</h3>

@code {

    public string? AccessToken { get; set; }
    protected override async Task OnInitializedAsync()
    {

        string access_token = UrlUtils.GetTokenFromUrl(navigationManager.ToAbsoluteUri(navigationManager.Uri));
        if (string.IsNullOrEmpty(access_token))
        {
            navigationManager.NavigateTo("/login", true);
        }
        else
        {
            AccessToken = access_token;
            await clientStorage.SetItemAsStringAsync("Token", access_token);
            navigationManager.NavigateTo("/", true);
        }
    }
}