@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<a class="btn" href="https://localhost:44305/api/account/google-login?returnURL=https://localhost:7206/GoogleAuth">googleAUth </a>
